#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

header {
  width: 100%;
  background-color: #1a1a1a; /* Пример фона */
  color: white;
  padding: 1rem 0; /* Сохраняем вертикальные отступы */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Добавляем легкую тень */
  position: relative; /* Для фиксации */
  z-index: 10; /* Поверх других элементов */
}

/* Для footer */
footer {
  width: 100%; /* Растягиваем на всю ширину */
  background-color: #1a1a1a; /* Пример фона */
  color: white;
  padding: 1rem 0; /* Сохраняем вертикальные отступы */
  position: relative; /* Оставляем в потоке */
  z-index: 5;
}

/* Для body */
body {
  margin: 0;
  padding: 0; /* Убираем отступы от браузера */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #f8f9fa; /* Нейтральный фон */
}

/* Для контента */
.content {
  min-height: calc(100vh - 70px - 64px); /* Учитываем высоту header и footer */
  padding: 2rem 1rem;
}

/* Убираем ненужные отступы */
.logo {
  margin: 0 auto; /* Центрируем логотип */
}

.card {
  padding: 2em;
}
